@import "responsive";

/*FORMULARIO*/

.container {
    &__tituloForm {
        font-size: 16px;
        margin-bottom: 2rem;
    }

    &__datos {
        font-size: 16px;
        width: 100%;
        border: 2px solid #141414;
        margin-bottom: 16px;
        padding: 4px;
    }

    &__mensaje {
        font-size: 16px;
        width: 100%;
        border: 2px solid #141414;
        padding: 4px;
    }

    &__botonForm {
        background-color: #141414;
        color: white !important;
        font-size: 16px;
        width: 100%;
        border: 2px solid #141414;
    }

    @include desktop {
        &__tituloForm {
            font-size: 24px;
        }
    }
}