@import "responsive";

/*FORMULARIO*/

.container {
    &__tituloForm {
        font-size: 16px;
        margin-bottom: 2rem;
    }

    &__datos {
        font-size: 16px;
        width: 100%;
        border: 2px solid #141414;
        margin-bottom: 16px;
        padding: 4px;
    }

    &__mensaje {
        @extend .container__datos;
        margin: 0;
    }

    &__botonForm {
        @extend .container__datos;
        background-color: #141414;
        color: white !important;
        margin: 0;
        padding: 2px;
        border: 0px;
    }

    &__botonForm:hover {
        background-color: #3e3e3e;
    }

    @include desktop {
        &__tituloForm {
            font-size: 24px;
        }
    }
}