@import"responsive";

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: #141414 !important;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
}