@import"responsive";

/*INFORMACION - texto, titulo y subtitulo*/

.secciones {
    margin: 2rem 1rem;

    @mixin estilos($font-size, $text-align, $font-weight){
        font-size: $font-size;
        text-align:$text-align;
        font-weight:$font-weight;
    }

    &__titulo {
        @include estilos(30px, center, 700);
        margin: 5rem 0 3rem 0;
    }

    &__temporada{
        @include estilos(20px, center, 600);
    }

    &__meses{
        @include estilos(16px, center, 500);
    }

    &__subtitulo {
        @include estilos(20px, left, 600);
    }

    &__descripcion {
        @include estilos(16px, left, 600);
    }

    &__temperaturas {
        @include estilos(17px, center, 700);
        display: flex;
        justify-content: space-around;
    }

    &__parrafo {
        margin-bottom: 2rem;
        flex-shrink: 1;
        font-size: 16px;
    }

    &__imagenes{
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    &__galeria {
        text-align: center;
    }

    @include tablet{
        margin: 2rem 3rem;

        &__titulo {
            font-size: 45px;
        }
    
        &__temporada{
            font-size: 26px;
        }
    
        &__meses{
            font-size: 18px;
        }

        &__temperaturas {
            font-size: 20px;
        }
    
        &__imagenes{
            margin: 0 0 5rem 0;
        }
    
        &__textoImagen{
            display: flex;
        }
    
        &__texto{
            flex-direction: column;
        }
    
        &__galeria{
            flex-direction: column;
            margin-left: 5rem;
        }

        @include desktop {
            &__imagenes{
               margin: 0;
            }
        }
    }
}

/*ICONOS DE INFORMACIÓN*/

.informacion {
    margin: 8rem 0;

    &__titulo {
        text-align: center;
        font-size: 26px;
        margin: 8rem 1rem 4rem 1rem;
        font-weight: 400;
    }

    &__iconos {
        display: flex;
        justify-content: center;
    }

    &__iconosP {
        margin: 1rem 0;
        text-align: center;
        width: 6rem;
    }

    &__iconosP-iconosS {
        width: 30px;
        height: 30px;
    }

    &__iconosP-titulo {
        font-size: 16px;
        font-family: 'Ubuntu condensed', sans-serif;
        padding-top: 0.5rem;
        cursor: pointer;
        cursor: hand;
    }

    @include tablet {
        &__titulo {
            font-size: 30px;
        }

        &__iconosP {
            margin: 3rem;
            width: 8rem;
        }

        &__iconosP-iconosS {
            width: 60px;
            height: 60px;
        }

        &__iconosP-titulo {
            font-size: 20px;
        }
    }

    @include desktop {

        &__titulo {
            font-size: 40px;
        }

        &__iconosP-iconosS {
            width: 80px;
            height: 80px;
        }

        &__iconosP-titulo {
            font-size: 26px;
        }
    }
}